<div class="wrapper fadeInDown">
    <div id="formContent">
        <form>
            <input type="text" [(ngModel)]="user.username" id="login" class="fadeIn first" name="login" placeholder="Username">
            <input type="text" [(ngModel)]="user.password" id="password" class="fadeIn second" name="login" placeholder="Password">
            <input type="submit" (click)="DoLogin()" class="fadeIn third" value="Log In">
        </form>
        <div id="formFooter">
            <a class="underlineHover" routerLink="/register" routerLinkActive="active">Dont have an account?</a>
            <br>
            <a class="underlineHover" routerLink="/dashboard" routerLinkActive="active">Go back to main page.</a>
        </div>
    </div>
</div>